@charset "UTF-8";

:root {
	 --console-background: #012b03;
	 --console-text-color: #07b60d;
	 --caret-color: #019808;
	 --submit-button-bg: #004103;
	 --submit-button-hover: #004f04;
	 --monitor-color: #D6C6A8;
	 --lighter-monitor-color: #E8DEC9;
	 --darker-monitor-color: #B3A78C;
	 --sticky-note-color: #FED800;
	 
	 --font-size: 2rem;
	 --ascii-font-size: .7rem;
	 --hake-ascii-font-size: .45rem;
}

body {
	max-height: 100%;
	max-width: 100%;

	overflow: hidden;
}

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.monitor {
	position: absolute;
	width: 100vw;
	height: 100vh;
	
	margin-bottom: 0%;

	background-color: var(--monitor-color);
	
	box-shadow: inset 0px 0px 32px 6px rgba(0,0,0,0.65);
}

.console {
	position: relative;
	height: 80%;
	width: 85;
	
	padding: 1%;
	margin-left: 7.5vw;
	margin-right: 7.5vw;
	margin-top: 10vh;
	margin-bottom: 2vh;

	display: flex;
	flex-direction: column;
	align-items: middle;
	justify-content: middle;
	
	background-color: var(--console-background);
	color: var(--console-text-color);
	
	font-family: "VT323", monospace;
	font-weight: 400;
	font-style: normal;
	font-size: var(--font-size);
	
	box-shadow: 0px 0px 32px 24px rgba(0,0,0,1), inset 0px 0px 66px 0px rgba(0,0,0,0.75);
	overflow: hidden;
	z-index: 0;
}

.console::after {
	content: "";

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-image: url("../recs/dirty-screen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	opacity: 0.15; /* Faded */
	filter: contrast(120%) brightness(80%);
	mix-blend-mode: multiply; /* or overlay, screen, darken, etc. */
	pointer-events: none;
	z-index: 1;
}


.title_card {
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -50%);

	height: 15%;
	width: 100%;

	align-content: center;
}

.title_card > p {
	text-align: center;
	word-spacing: pre;
	font-size: var(--font-size);
}

.main_menu {
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);

	height: 60%;
	width: 80%;
}

.main_menu > form {
	display: flex;
	flex-direction: column;
	
	justify-content: space-around;
	align-items: center;

	height: 100%;
	width: 100%;
}

.main_menu > form > button {
	position: inherit;

	height: 20%;
	width: 100%;
	
	font-family: "VT323", monospace;
	font-weight: 400;
	font-style: normal;
	font-size: var(--font-size);
	color: var(--console-text-color);
	
	border: none;
	background-color: var(--submit-button-bg);
}

.main_menu > form > button:hover {
	background-color: var(--submit-button-hover);
}

@media (min-aspect-ratio: 1) {
	.title_card {
		width: 55%;
	}

	.main_menu {
		width: 40%;
	}
}

.bottom_row {
	position: relative;
	
	height: 8vh;
	width: 100vw;
	
	align-content: center;
}

.bottom_row > div {
	position: absolute;

	transform: translate(-50%);
}

.ipear_logo {
	left: 50vw;
	bottom: 1vh;

	height: 6vh;
	aspect-ratio: 1233/1500;/* image size */
}

.ipear_img {
	width: 100%;
	height: 100%;
}

.power_button_container {
	left: 90vw;
	bottom: 1vh;

	height: 6vh;
	aspect-ratio: 1.75;
}

#power_button {
	position: relative;

	height: 100%;
	width: 100%;

	border: none;

	background-color: transparent;
	background-image: url("../recs/powerButton.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}