:root {
	--console-background: #0c0f0c;
	--console-text-color: #06b306;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html {
	overflow: hidden;
}
.console-text {
  font-family: "Doto", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}


.window {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
	background-color: gray;
}
.left-column {
	width: 75%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.right-column {
	width: 25%;
	height: 100%;
}
.display {
	background-color: red;
	width: 100%;
	height: 70%;
}
.ui-parent {
	width: 100%;
	height: 30%;
	display: flex;
	flex-direction: row;
}
.found-commands {
	background-color: green;
	width: 75%;
	height: 100%;
}
.map {
	background-color: white;
	width: 25%;
	height: 100%;
}

.console {
	background-color: pink;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.output {
	width: 100%;
	height: 92%;
	background-color: var(--console-background);
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	padding: 3%;
	color: var(--console-text-color);
	font-size: 1.5rem;
}
.input {
	width: 100%;
	height: 8%;
	background-color: red;
	background-color: var(--console-background);
}
.console-input {
	width: 100%;
	height: 100%;
	background-color: var(--console-background);
	border: none;
	padding: 3%;
	color: var(--console-text-color);
	font-size: 1.5rem;
}
.console-input:focus {
	outline-width: 0;
}

/* Paragraphs (For Testing) */
.debug_label {
    width: 100%;
    height: 100%;

    text-align: center;
    vertical-align: middle;
    font-size: 2vw;
}